spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/connect
    username: postgres
    password: postgres

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 504338490835-rcobmg5uhlputl3ui794mt4lk1beb268.apps.googleusercontent.com
            client-secret: ${clientSecretKey}